img {
  width: 60%;
  height: 60%;
}
.jumbotron {
  text-align: center;

}

.cho {
  display: none;
}

.browning{
  display: none;
}

.pratt{
  display: none;
}

.ritter{
  display: none;
}

.white{
  display: none;
}

.kane{
  display: none;
}

.stewart{
  display: none;
}

.jackson{
  display: none;
}
